*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', cursive;
}


a{
    text-decoration: none;
}


/* Home Styling */

nav{
    background-color: rgba(0, 0, 0, 0.904);
    padding: 7% 15%;
    margin-bottom: 2%;
}

.glassmorphic{
    background: white;
    text-align: center;
    width: 90%;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.mobile-version{
    display: none;
}
/* E-Liquids Styling */

#e-liquids{
    padding: 7% 15%;
}

#e-liquids h2{
    text-align: center;
    font-weight: bolder;
}

#e-liquids p{
    margin-top: 2%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

#e-liquids a{
    text-decoration: none;
    color: black;
}

hr{
    width: 5%;
    margin: auto;
}

#e-liquids .row{
    margin-top: 5%;
}

/* Devices Styling */

#devices{
    padding: 7% 15%;
    background-image: url('/public/images/abc.jpeg');
    background-size: cover;
    margin-top: 10%;
}

.sub-devices{
    text-align: center;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(245, 180, 39, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.sub-devices h2{
    text-align: center;
    margin-top: 2%;
    font-weight: bolder;
    color: white;
}

.sub-devices hr{
    color: white;
}
#devices p{
    margin-top: 2%;
    text-align: center;
    color: white;
}

#devices a{
    text-decoration: none;
    color: black;
}
#devices hr{
    width: 5%;
    margin: auto;
}

#devices .row{
    margin-top: 5%;
}


/* Accessories Styling */

#accessories{
    padding: 7% 15%;
}

#accessories h2{
    text-align: center;
    margin-top: 2%;
    font-weight: bolder;
    color: black;
}

#accessories p{
    margin-top: 2%;
    text-align: center;
    color: black;
}

#accessories a{
    text-decoration: none;
    color: black;
}

#accessories .row{
    margin-top: 5%;
}


/* Contact Styling */

#contact{
    padding: 7% 10%;
    background-color: #1c1f23;
    text-align: center;
    color: white;
}

#contact i{
    text-decoration: none;
    color: white;
    font-size: x-large;

}

.icon {
    margin-top: -15%;
    margin-left: -10%;
    margin-right: 10%;
}


#contact .row{
    margin-top: 10%;
}

#contact i:hover{
    color: #1c1f23;
}

.subscribe{
    text-align: center;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(245, 180, 39, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5%;
}

.btn{
    margin-top: 4%;
}
/* Footer Styling */

.footer-icon{
    margin: 0.5rem;
}

#footer{
    background-color: #E48D0A;
    text-align: center;
    padding: 2%;
    color: white;
}

#footer i{
    color: white;
}

#footer i:hover{
    color: orange;
}
#footer p{
    padding-top: 1rem;
    font-family:'Montserrat', sans-serif ;
    font-weight: lighter;
}

@media (max-width: 1028px){
    
    .carousel{
        display: none;
    }

    .pods,.liquid-item{
        margin-top: 10%;
    }
    
    .mobile-version{
        display: block;
        text-align: center;
        margin: 10% auto;
    }
    
    #footer i{
        margin-top: 10%;
    }
}